.aboutUs {
  max-width: 1678px;
  margin: 0 auto;
  padding: 0 20px;
}

.aboutUs .title {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.aboutUs .title .circle {
  width: 60px;
  height: 60px;
  background-color: rgb(198, 9, 41);
  border-radius: 50%;
  margin-right: 13px;
  position: relative;
}
.aboutUs .title .circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.aboutUs .title .title-text {
  color: #fff;
  font-family: "Inter Tight";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.aboutUs .introduce-1 {
  display: flex;
  margin-top: 40px;
}

.aboutUs .introduce-1 .introduce-1-left {
  width: 50%;
  border-radius: 30px;
  background: #16191b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.aboutUs .introduce-1 .introduce-1-left .text1 {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  font-size: calc(1.8vw);
}

.aboutUs .introduce-1 .introduce-1-left .text2 {
  margin: 0 auto;
  width: 80%;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-size: calc(1.3vw);
}

.aboutUs .introduce-1 .introduce-1-right {
  width: 50%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nono-img {
  width: 225px;
  height: 225px;
  border-radius: 50%;
}
.prohibit {
  height: 200px;
  /* 让宽度和高度一致 */
  width: 200px;
  border: 20px solid rgb(198, 9, 41);
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.prohibit::before {
  content: "";
  width: 230px;
  height: 20px;
  background: rgb(198, 9, 41);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.NONO {
  position: absolute;
  z-index: 0;
  color: #fff;
}
.NONO div {
  font-size: 100px;
  color: #fff;
}
.NONO .red {
  color: rgb(198, 9, 41);
}
.NONO .stroke {
  font-size: 6vw;
  color: #fff;
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
}
.NONO .strokered {
  font-size: 6vw;
  color: #fff;
  -webkit-text-stroke: 1px rgb(198, 9, 41);
  -webkit-text-fill-color: transparent;
}
.aboutUs .introduce-2 {
  margin-top: 30px;
  border-radius: 30px;
  background: #000;
  padding: 6.7vw 0 7.8vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutUs .introduce-2 .introduce-2-title {
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  font-size: calc(2.5vw);
  position: relative;
}

.aboutUs .introduce-2 .introduce-2-title::after {
  content: "";
  width: 100%;
  height: 60%;
  background-color: rgb(198, 9, 41);
  position: absolute;
  bottom: 10px;
  left: 50%;
  mix-blend-mode: lighten;
  transform: translateX(-50%) rotate(-3.5deg);
}

.aboutUs .introduce-2 .introduce-2-content {
  margin-top: 51px;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-size: calc(1.3vw);
  max-width: 780px;
  text-align: center;
}

.aboutUs .introduce-3 {
  border-radius: 30px;
  background: #16191b;
  margin-top: 30px;
  padding: 6.04vw 7.23vw 5.52vw 2.09vw;
  display: flex;
  justify-content: space-between;
}

.aboutUs .introduce-3 .introduce-3-right {
  width: 50.68%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: right;
}

.aboutUs .introduce-3 .introduce-3-right .introduce-3-right-title {
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  font-size: calc(2.5vw);
}

.aboutUs .introduce-3 .introduce-3-right .introduce-3-right-title-text {
  position: relative;
}

.aboutUs .introduce-3 .introduce-3-right .introduce-3-right-title-text::after {
  content: "";
  width: 100%;
  height: 60%;
  background-color: rgb(198, 9, 41);
  position: absolute;
  bottom: 10px;
  left: 50%;
  mix-blend-mode: lighten;
  transform: translateX(-50%) rotate(3.5deg);
}

.aboutUs .introduce-3 .introduce-3-right .introduce-3-right-content {
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-size: calc(1.3vw);
  text-align: left;
}

.aboutUs .introduce-3 .introduce-3-left {
  width: 45%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.aboutUs .introduce-3 .introduce-3-left img {
  width: 100%;
}
.info {
  width: 100%;
  color: rgb(198, 9, 41);
  mix-blend-mode: difference;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.info div {
  width: 30%;
  padding: 20px 0;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.info div span {
  font-size: 22px;
  color: rgb(198, 9, 41);
}
/* 中空字 */
.stroke {
  font-size: 18px !important;
  color: rgb(198, 9, 41) !important;
  /* -webkit-text-stroke: 1px #fff; */
  /* -webkit-text-fill-color: transparent; */
}

.aboutUs .get-in-touch {
  background: rgb(198, 9, 41);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  margin-top: 30px;
}

.aboutUs .get-in-touch .title {
  margin-top: 47px;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  font-size: calc(2.5vw);
  text-align: center;
}

.aboutUs .get-in-touch .content {
  font-size: calc(1.3vw);
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.75px;
}

.aboutUs .get-in-touch .touch-btn {
  margin-top: 28px;
  display: flex;
  width: 144px;
  justify-content: center;
  align-items: center;
  height: 38px;
  color: rgb(198, 9, 41);
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.26px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 47px;
  cursor: pointer;
}

.aboutUs .disclaimer {
  margin-top: 30px;
  color: #afafaf;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.aboutUs .web-info {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 30px; */
  margin: 30px auto 0;
  a {
    color: #fff;

    /* 去掉下滑 */
    text-decoration: none;
  }
}

.aboutUs .web-info .time {
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.aboutUs .web-info .web-info-right {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.aboutUs .web-info .web-info-right .line {
  width: 1px;
  height: 13px;
  background: #fff;
  margin: 0 10px;
}

.aboutUs .web-info .web-info-right .web-info-right-item span {
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .aboutUs {
    padding: 0 9px;
  }

  .aboutUs .title .title-text {
    font-size: 34px;
  }

  .aboutUs .introduce-1 {
    flex-direction: column-reverse;
  }

  .aboutUs .introduce-1 .introduce-1-left {
    width: 100%;
    border-radius: 10px;
    padding: 35px 2px 38px;
  }

  .aboutUs .introduce-1 .introduce-1-left .text1 {
    font-size: 23px;
    width: 100%;
  }

  .aboutUs .introduce-1 .introduce-1-left .text2 {
    margin-top: 15px;
    font-size: 18px;
    width: 100%;
  }

  .aboutUs .introduce-1 .introduce-1-right {
    width: 100%;
    border-radius: 10px;
  }

  .nono-img {
    border-radius: 50%;
  }
  /* .aboutUs .introduce-1 .introduce-1-right img {
    width: 100%;
    border-radius: 50%;
  } */

  .aboutUs .introduce-2 {
    padding: 50px 22px;
  }

  .aboutUs .introduce-2 .introduce-2-title {
    font-size: 30px;
  }

  .aboutUs .introduce-2 .introduce-2-content {
    margin-top: 27px;
    font-size: 18px;
  }

  .aboutUs .introduce-3 {
    padding: 50px 22px;
    flex-direction: column;
    border-radius: 10px;
  }

  .aboutUs .introduce-3 .introduce-3-left {
    width: 100%;
  }

  .aboutUs .introduce-3 .introduce-3-left img {
    width: 100%;
  }

  .aboutUs .introduce-3 .introduce-3-right {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-top: 43px;
  }

  .aboutUs .introduce-3 .introduce-3-right .introduce-3-right-title {
    font-size: 30px;
    margin-bottom: 27px;
  }

  .aboutUs .introduce-3 .introduce-3-right .introduce-3-right-content {
    font-size: 18px;
  }

  .aboutUs .get-in-touch {
    padding: 30px 20px;
  }

  .aboutUs .get-in-touch .title {
    font-size: 35px;
  }

  .aboutUs .get-in-touch .content {
    margin-top: 20px;
    font-size: 25px;
  }

  .aboutUs .get-in-touch .touch-btn {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 13px;
  }

  .web-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .web-info .web-info-right {
    margin: 0;
  }
  .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  }
  .info div {
    width: 100%;
    padding: 20px 0;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }
}
.Contract {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 20px;
  background: #16191b;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  span {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .red {
    color: rgb(198, 9, 41);
  }
}
